.input1 {
	margin-left:36px;
}
.input2 {
	margin-left:24px;
}
.open{
       font-family: 'Open Sans', sans-serif;
         }
.lobster{
       font-family: 'Lobster', cursive;
       font-size: 50px;
         }